ACCESS_TOKEN_FILE = 'token.json'
IDENTITY_FILE_PATH = 'client_id.json'
DB_FILE_PATH = 'db.sqlite'
PATH_TO_IMAGES_STORAGE = 'media/'
PATH_TO_VIDEOS_STORAGE = 'media/'
LOG_FILE_PATH = 'working.log'
ACTUALIZATION_PERIOD = 7  # Days
